
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NewBiz Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/SNAT.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Content/HomePageStyle.css" rel="stylesheet">


</head>

<body>

    <!--==========================
    Header
    ============================-->
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->

                <h1 class="text-light"><a href="#intro" class="scrollto"><img src="~/SNAT.png" alt="" class="img-fluid rounded-circle mr-2"></a><span class="text-light">SNAT</span></h1>

            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#intro">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li class="drop-down">
                        <a href="#">Services</a>
                        <ul>
                            <li><a href="#services">CO-OP</a></li>
                            <li><a href="#why-us">Burial</a></li>
                        </ul>
                    </li>
                    @*<li><a href="#services">CO-OP</a></li>
                        <li><a href="#services">Burial</a></li>*@
                    @*<li><a href="#portfolio">Media</a></li>*@
                    <li class="drop-down">
                        <a href="">Media</a>
                        <ul>
                            <li><a href="#portfolio">Amendments</a></li>
                            <li><a href="#testimonials">News-Letter</a></li>
                        </ul>
                    </li>
                    <li><a href="#team">Team</a></li>
                    <li class="drop-down">
                        <a href="">Contact Us</a>
                        <ul>
                            <li><a href="#clients">Branches</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </li>
                    <li class="drop-down">
                        <a href="">Login</a>
                        <ul>
                            <li><a href="#"><i class="fa fa-user-circle">  Employee</i></a></li>

                            <li><a href="#"><i class="fa fa-user-circle"> Member </i></a></li>

                        </ul>
                    </li>

                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    s<section id="intro" class="clearfix">
        <div class="container">

            <div class="intro-img">
                <img src="~/Jay.jpg" alt="" class="img-fluid">
            </div>

            <div class="intro-info">
                <h2 class="text-info">Welcome To<br><span>JAY</span><br>Not By Favour <br>But By Merit!</h2>
                <div>
                    @*<a href="#about" class="btn-get-started scrollto">Get Started</a>
                        <a href="#services" class="btn-services scrollto">Our Services</a>*@
                </div>
            </div>
        </div>

    </section><!-- #intro -->

    <main id="main">
        <!--==========================
          Home Section
        ============================-->
        <section id="home">
            <div class="container">
                <header class="section-header">
                    <h3>Home</h3>
                    <p>
                        @*The Swaziland National Association of Teachers shall strive to improve the professional socio-economic status of teachers,
                            enhance collective bargaining for teachers and encourage maximum participation and dynamic provision of quality education to the learner and the Swazi Nation at large*@
                    </p>
                </header>
                <div class="row home-container">
                    <div class="col-lg-6 content order-lg-1 order-2">
                        <p>

                        </p>
                        <div class="icon-box wow fadeInUp">
                            <div class="icon"><i class="fas fa-tasks"></i></div>
                            <h4 class="title"><a href="">Mission Statement</a></h4>
                            <p class="description">
                                The Swaziland National Association of Teachers shall strive to improve the professional socio-economic status of teachers,
                                enhance collective bargaining for teachers and encourage maximum participation and dynamic provision of quality education to the learner and the Swazi Nation at large
                            </p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon"><i class="fas fa-eye"></i></div>
                            <h4 class="title"><a href="">Vision</a></h4>
                            <p class="description">To become a trade union organization that effectively provides the best service to its members, the profession and the nation through embracing current and relevant industrial and educational practices.</p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon"><i class="fas fa-bar-chart"></i></div>
                            <h4 class="title"><a href="">Organization  Background</a></h4>
                            <p class="description">The Swaziland National Association of Teachers(SNAT) was founded in 1928, while Swaziland was still under the British Protectorate with a discriminatory education system, largely under the influence and educational practices.</p>
                        </div>

                    </div>

                    <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                        <img src="img/home-img.svg" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="row home-extra">
                    <div class="col-lg-6 wow fadeInUp">
                        <img src="img/home-extra-1.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                        <h4>Join Snat And Enjoy These Benefits</h4>
                        <ul>
                            <li>Protection from unfair dismissal and ill-treatment</li>
                            <li>Better wages</li>
                            <li>Better Pension packages and Death benefits</li>
                            <li>Education on worker rights and life betterment strategies</li>
                            <li>Legal represantation in idustrial issues</li>
                            <li>Protection from abuse in the workplace</li>
                            <li>Paid meternity leave</li>
                            <li>Better and healthy accomodation facilities</li>
                            <li>Provision of Credit and Savings Scheme (SNAT Co-operative)</li>
                            <li>Provision of Burial Scheme services</li>
                            <li>Good relations between management and employees</li>
                            <li>Provision for entertainment and sporting activities</li>
                        </ul>
                    </div>
                </div>

                @*<div class="row about-extra">
                        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                            <img src="img/about-extra-2.svg" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                            <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h4>
                            <p>
                                Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt.
                            </p>
                            <p>
                                Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
                            </p>
                            <p>
                                Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga mollitia exercitationem nam accusantium provident quia.
                            </p>
                        </div>

                    </div>*@

            </div>
        </section><!-- #Home -->
        <!--==========================
        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>About Us</h3>
                    <h4 class="text-center">Welcome to the Swaziland National Teachers Association</h4>
                    <p>

                    </p>
                </header>

                <div class="row about-container">

                    <div class="col-lg-12 content order-lg-1 order-2">
                        <p>
                            The Swaziland Nation Association of Teachers shall strive to improve the professional, socio-economic status of teachers, enhance collective bargaining for teachers and encourage maximum participation and dynamic provosion of quality education to the learner.
                        </p>

                        @*<div class="icon-box wow fadeInUp">
                                <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                                <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                                <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                            </div>

                            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                                <div class="icon"><i class="fa fa-photo"></i></div>
                                <h4 class="title"><a href="">Magni Dolores</a></h4>
                                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                            </div>

                            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                                <h4 class="title"><a href="">Dolor Sitema</a></h4>
                                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                            </div>*@

                    </div>

                    @*<div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                            <img src="img/about-img.svg" class="img-fluid" alt="">
                        </div>*@
                </div>

                @*<div class="row about-extra">
                        <div class="col-lg-6 wow fadeInUp">
                            <img src="img/about-extra-1.svg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                            <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
                            <p>
                                Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
                            </p>
                            <p>
                                Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.
                            </p>
                        </div>
                    </div>*@

                <div class="row about-extra">
                    <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                        <img src="img/about-extra-2.svg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-12 wow fadeInUp pt-5 pt-lg-0 order-2 order-lg-1">
                        <h4>Aims And Objectives</h4>
                        <p>
                            To promote interest in members in professional and socio-economic development
                        </p>
                        <p>
                            To promote the status and welfare of teachers through the professionalizing the teaching service
                        </p>
                        <p>
                            To foster the draft and implementation of educational policies and code of conduct
                        </p>
                        <p>
                            To combat discrimination on basis of gender, religion and political affiliation
                        </p>
                        <p>
                            To combat sexual harassment of teachers and pupils
                        </p>
                        <p>
                            To enhance the status of women and maximize participation of women teachers at all levels.
                        </p>
                        <p>
                            To take whatever legal proceedings in pursuance of the enshrined aims and objectives as well as protect teachers against victimization by the employer or agents
                        </p>
                        <p>
                            To promote unity amongst all independent and democratic unions both locally and internationally in educational authorities.
                        </p>
                        <p>
                            To regulate the relations and settlement of disputes between members and their employers; being either the government or other educational authorities.
                        </p>
                        <p>
                            To collectively bargain for members with employer
                        </p>
                        <p>
                            To advise, consult, defend and promote collective interest of members or any other issues that may be of interest to its members; including matters of public policy and administration.
                        </p>

                    </div>

                </div>

            </div>
        </section><!-- #about -->
        <!--==========================
          Services Section
        ============================-->
        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3>CO-OP</h3>
                    <p></p>
                </header>

                <div class="row">
                    <div class="row about-container">
                        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                            <div class="box">
                                <h4 class="title"><a href="">Vision</a></h4>
                                @*<div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>*@

                                <p class="description">To be the best savings and credit co-operative in Africa with a financially secured and independent membership</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                            <div class="box">
                                @*<div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>*@
                                <h4 class="title"><a href="">Mission</a></h4>
                                <p class="description">To be the best savings and credit co-operative in Africa with a financially secured and independent membership</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="box">
                                @*<div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>*@
                                <h4 class="title"><a href="">Joining</a></h4>
                                <p class="description">
                                    The members who join the Co-op are all allowed through a Core Bond (open to teachers only).
                                </p>
                                <p class="description">
                                    The main purpose of joining the SACCO is to promote a culture of saving and self development.
                                </p>
                                <p class="description">
                                    To join a member has to first join SNAT Union and be a fully subscribing member.
                                </p>
                                <p class="description">
                                    A Joining form and a stop-order form is then filled by the joining member
                                </p>
                                <p class="description">
                                    When the stop order has started to run in the pay-slip the member visits the office to have a pass-book made for him/her.
                                </p>
                                <p class="description">
                                    The stop order has to run for 6 months, until then the member will be eligible to get a loan product which he/she qualifies for.
                                </p>
                                <p class="description">
                                    Members are regarded as full members if they have fully paid shares which currently stand at E3000.00 and subject to change depending on net worth status of the SACCO.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="box">
                                @*<div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>*@
                                <h4 class="title"><a href="">Savings</a></h4>
                                <p class="description">
                                    There are two savings; non withdraw-able savings which require a compulsory minimum savings of E100.00 for every month and withdraw-able savings (school fees savings) in which a member saves only to withdraw once in every three months.
                                </p>
                                <p class="description">
                                    If a member wants to increase savings to the excess of E15 000.00 in one month apart from what comes from the stop order he/she will wait for three (3) months before he/she can borrow against his/her savings.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="box">
                                @*<div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>*@
                                <h4 class="title"><a href="">Long Term Loan Products</a></h4>
                                <div class="row">
                                    <div class="box col-md-12 col-lg-12">

                                        <h4 class="title"><a href="">Standard Loan</a></h4>
                                        <p class="description">
                                            It is a loan twice the member savings and the maximum repayment of eighty months depending on the amount borrowed at a rate of 0.75% interest per month. The member shall have an
                                            operational stop order that can cover the repayment installment for repayment and a member will currently have to wait for a month after clearing in order to access
                                            the loan again.
                                        </p>
                                        <p class="description">
                                            <strong>Other requirements of the loan include;</strong>
                                        </p>
                                        <p class="description">
                                            Current pay-slip (original)
                                        </p>
                                        <p class="description">
                                            Passbook
                                        </p>
                                        <p class="description">
                                            National Identity Card
                                        </p>
                                        <p class="description">
                                            Net pay still within the third(⅓) as per the requirement of the employment act of 1980, section 56(4)(c)
                                        </p>
                                        <p class="description">
                                            Loans exceeding E60000. 00 are referred to the credit committee for approval
                                        </p>
                                    </div>


                                    @*<div class="box col-md-6 col-lg-5">

                                            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                                        </div>*@
                                </div>
                                <div class="row">
                                    <div class="box col-md-12 col-lg-12">

                                        <h4 class="title"><a href="">Business Loan</a></h4>
                                        <p class="description">
                                            It is for empowering members in their business entities and the maximum amount accessible is E200 000.00 and payable at three (3) years maximum or retirement age depending on which one comes first. It has a 0.95 interest charge.
                                        </p>
                                        <p class="description">
                                            <strong>Other requirements</strong>
                                        </p>
                                        <p class="description">
                                            15% deposit/commitment fee for the loan sourced
                                        </p>
                                        <p class="description">
                                            0.5% initiation/application which shall be non refundable even if the loan fails( minimum fee shall be E500.00)
                                        </p>
                                        <p class="description">
                                            Unbroken membership for at least two consecutive years
                                        </p>
                                        <p class="description">
                                            Business plan and cash flow projections
                                        </p>
                                        <p class="description">
                                            Two passport sized photos
                                        </p>
                                        <p class="description">
                                            Sketch map giving directions to the business and residential premises
                                        </p>
                                        <p class="description">
                                            Two passport sized photos
                                        </p>
                                        <p class="description">
                                            Valid quotations
                                        </p>
                                        <p class="description">
                                            National Identity Card
                                        </p>
                                        <p class="description">
                                            Copy of trading license or permit
                                        </p>
                                        <p class="description">
                                            Lease agreement
                                        </p>
                                        <p class="description">
                                            Letter from umphakatsi if business is on Swazi Nation Land
                                        </p>
                                        <p class="description">
                                            Stop order from salary should cater for half the repayment installment
                                        </p>

                                    </div>


                                    @*<div class="box col-md-6 col-lg-5">

                                            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                                        </div>*@
                                </div>
                                <div class="row">
                                    <div class="box col-md-12 col-lg-12">

                                        <h4 class="title"><a href="">Special Loan</a></h4>
                                        <p class="description">
                                            For buying or developing property in Title Deed immovable property(s) at the maximum amount of E500 000.00 repayable in 15 years or the retirement age whichever comes first. The interest charged is 0.65% per month
                                        </p>
                                        <p class="description">
                                            <strong>Other requirements</strong>
                                        </p>
                                        <p class="description">
                                            Title deed/ deed of sale
                                        </p>
                                        <p class="description">
                                            Rates clearance certificate
                                        </p>
                                        <p class="description">
                                            Current evaluation report
                                        </p>
                                        <p class="description">
                                            Current pay slip
                                        </p>
                                        <p class="description">
                                            Unbroken membership for at least two consecutive years
                                        </p>
                                        <p class="description">
                                            Minimum savings of E50 000.00
                                        </p>
                                        <p class="description">
                                            City council approved plan
                                        </p>
                                        <p class="description">
                                            National Identity Card
                                        </p>

                                    </div>


                                    @*<div class="box col-md-6 col-lg-5">

                                            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="box">
                                @*<div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>*@
                                <h4 class="title"><a href="">Short Term Loan Products</a></h4>

                                <div class="row">
                                    <div class="box col-md-6 col-lg-5">

                                        <h4 class="title"><a href="">Personal Loan</a></h4>
                                        <p class="description">Please Contact SNAT Office For Details</p>
                                    </div>


                                    <div class="box col-md-6 col-lg-5">

                                        <h4 class="title"><a href="">Short Loan</a></h4>
                                        <p class="description">Accessed as cash over the cover to cater for minor things such as car problems. A maximum of E2000.00 repayable in a maximum of four (4) months at an interest rate of 25%.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="box col-md-6 col-lg-10">

                                        <h4 class="title"><a href="">Help-Line Lone</a></h4>
                                        <p class="description">
                                            Borrowing power is independent of member’s savings and it is aimed at helping members with pressing financial needs that are not covered in the other loan products.
                                        </p>
                                        <p class="description">
                                            The maximum amount accessible can be E20 000.00 or if a member’s savings are less than this amount the member will receive a loan equivalent to his/her savings at a rate of 1.8% interest per month for a maximum period of twelve (12) months.
                                        </p>
                                        <p class="description">
                                            It can be accessed if member’s salary can accommodate a stop order increase without violating the third (⅓) rule on net pay.
                                        </p>
                                        <p class="description">
                                            A member can be allowed to revolve if 50% of this loan inclusive of interests has been paid.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </section><!-- #services -->
        <!--==========================
          Why Us Section
        ============================-->
        <section id="why-us" class="wow fadeIn">
            <div class="container">
                <header class="section-header">
                    <h3>Burial</h3>
                    <p></p>
                </header>

                <div class="row row-eq-height justify-content-center">

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-diamond"></i>
                            <div class="card-body">
                                <h5 class="card-title">Joining</h5>
                                <p class="card-text">
                                    Be a SNAT fully paid member
                                    <br /> Pay a once-off joining fee of E100 through bank deposit
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-language"></i>
                            <div class="card-body">
                                <h5 class="card-title">Monthly Subscriptions and Cover</h5>
                                <p class="card-text">
                                    Basic cover at E50
                                    Member benefits E15 000
                                    Covers 5 beneficiaries at E6 000
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fas fa-hourglass"></i>
                            <div class="card-body">
                                <h5 class="card-title">Waiting Period  <br /><span class="btn btn-success">A Member</span></h5>
                                <p class="card-text">
                                    There is no waiting period for a a member and cover is staggered
                                    1 to 3 months E2 000
                                    3 to 6 months E5 000
                                    Above 6 months E15 000
                                    The Spouse and other benefitiaries have a waiting period of 12 months
                                </p>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row row-eq-height justify-content-center">

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-file"></i>
                            <div class="card-body">
                                <h5 class="card-title">Documents required <br />for a claim</h5>
                                <p class="card-text">
                                    Members passbook
                                    Current payslip
                                    Members ID certified
                                    Death certificate certified
                                    Birth certificate/ID for deceased certified
                                    Marriage/Teka certificate for spouse certified
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-object-group"></i>
                            <div class="card-body">
                                <h5 class="card-title">Claiming Period</h5>
                                <p class="card-text">

                                    A claim must be within 2 months of death of beneficiary/member.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fas fa-user-plus"></i>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">
                                </p>
                                <a href="#" class="readmore btn btn-success">Sign Up Now! </a>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="row counters">

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">274</span>
                            <p>Clients</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">421</span>
                            <p>Projects</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">1,364</span>
                            <p>Hours Of Support</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">18</span>
                            <p>Hard Workers</p>
                        </div>

                    </div>*@

            </div>
        </section>

        <!--==========================
          Portfolio Section
        ============================-->
        <section id="portfolio" class="clearfix">
            <div class="container">

                <header class="section-header">
                    <h3 class="section-title">Amendments</h3>
                </header>

                <div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">Acts / Bills</li>
                            <li data-filter=".filter-card">Policies</li>
                            <li data-filter=".filter-web">Constitution</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <h6><a href="#">Code Of Ethics</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.1s">
                        <h6><a href="#">Employment Act</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                        <h6><a href="#">Occupational Safety And Health Act</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <h6><a href="#">Retirement Funds Act</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.1s">
                        <h6><a href="#">The Education Act, 1981</a></h6>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                        <h6><a href="#">The Public Order Act</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <h6><a href="#">The Prevention Of Corruption Act</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.1s">
                        <h6><a href="#">Women Compansation Act</a></h6>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                        <h6><a href="#">The TSC Act</a></h6>
                    </div>
                    <!--------------------------->
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <h6><a href="#">Chapter Six Conflict and its Resolution</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
                        <h6><a href="#">Dispute Prevention Manual CMAC</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
                        <h6><a href="#">Education Policy Statement</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <h6><a href="#">Government General Orders</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
                        <h6><a href="#">IRA(AMENDED)</a></h6>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
                        <h6><a href="#">Public Charter (2002)</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <h6><a href="#">Recognition Agreement</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
                        <h6><a href="#">Teaching Service Regulations 1983</a></h6>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
                        <h6><a href="#">The Education Sector Policy</a></h6>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
                        <h6><a href="#">The-National-Development-Strategy</a></h6>
                    </div>
                    <!--------------------------->
                    <!--------------------------->
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <h6><a href="#">Swazi Constitution</a></h6>
                    </div>

                    <!--------------------------->
                </div>

            </div>
        </section><!-- #portfolio -->
        <!--==========================
          Clients Section
        ============================-->
 
        <!--==========================
          Team Section
        ============================-->
        <section id="team">
            <div class="container">
                <div class="section-header">
                    <h3>Team</h3>
                    <p>SNAT Team Member - Always Happy to Help!!</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 wow fadeInUp">
                        <div class="member">
                            <img src="~/img/FreedomDlamini.png" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Freedom Dlamini</h4>
                                    <span>President</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="member">
                            <img src="~/img/VusiSibanyoni.png" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Vusi Sibanyoni</h4>
                                    <span>DP</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="member">
                            <img src="~/img/ZwelithiniMndzebele.png" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Zwelithini Mndzebele</h4>
                                    <span>GS</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="member">
                            <img src="~/img/SceloMatsenjwa.png" class="img-fluid" alt="" />
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Scelo Matsenjwa</h4>
                                    <span>Treasure</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 wow fadeInUp">
                        <div class="member">
                            <img src="~/img/SikelelaDlamini.png" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Sikelela Dlamini</h4>
                                    <span>DGS</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="member">
                            <img src="~/img/GcebileDlamini.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Gcebile Dlamini</h4>
                                    <span>OS</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="member">
                            <img src="~/img/SNAT.png" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Japhter Matsebula</h4>
                                    <span>RS</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="member">
                            <img src="~/img/SNAT.png" " class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Futhile Dlamini </h4>
                                    <span>Sub Editor</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 wow fadeInUp">
                        <div class="member">
                            <img src="~/img/SNAT.png" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Japhter Matsebula</h4>
                                    <span>RS</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="member">
                            <img src="~/img/SenzoMazibuko.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Senzo Mazibuko</h4>
                                    <span>Sub Editor</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="member">
                            <img src="~/img/BongiweMangoKhumalo.png" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Bongiwe Mango Khumalo</h4>
                                    <span>OS</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    @*<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="member">
                                <img src="~/img/SNAT.png" " class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Futhile Dlamini </h4>
                                        <span>Sub Editor</span>
                                        <div class="social">
                                            <a href=""><i class="fa fa-twitter"></i></a>
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                            <a href=""><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                </div>

            </div>

        </section><!-- #team -->
        <!--==========================
          Clients Section
        ============================-->
        <section id="clients" class="section-bg">

            <div class="container">

                <div class="section-header">
                    <h3>Our Branches</h3>
                    <p>Please Feel To Free Contact SNAT Branches</p>
                </div>
                <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo bg-info text-white">
                            <h6>Big Bend</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo bg-dark text-white" ">
                            <h6>Mhlume</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo bg-danger text-white" ">
                            <h6>Manzini</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo bg-warning text-primary">
                            <h6>Mankayane</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo bg-secondary text-white">
                            <h6>Usuthu</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo bg-success text-white">
                            <h6>Mliba</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 ">
                        <div class="client-logo bg-primary text-white">
                            <h6>Madlangampisi</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 ">
                        <div class="client-logo bg-light text-black">
                            <h6>Piggs Peak</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo bg-primary text-white">
                            <h6>Mbabane</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo bg-warning text-danger">
                            <h6>Gege</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6 ">
                        <div class="client-logo bg-dark  text-white">
                            <h6>Mbulungwane</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6 ">
                        <div class="client-logo bg-info text-white">
                            <h6>Mhlosheni</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6 ">
                        <div class="client-logo bg-success text-white">
                            <h6>Hlatikhulu</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo  bg-secondary text-white" ">
                            @*<img src="img/clients/client-8.png" class="img-fluid" alt="">*@
                            <h6>Nhlangano</h6>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <!--==========================
          Contact Section
        ============================-->
        <section id="contact">
            <div class="container-fluid">

                <div class="section-header">
                    <h3>Contact Us</h3>
                </div>

                <div class="row wow fadeInUp">

                    <div class="col-lg-6">
                        <div class="map mb-4 mb-lg-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1785.5157331061546!2d31.372713!3d-26.4869317!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1eef4ebe8680ad95%3A0x5f4f4e796df53617!2sWilliam+Pitcher+College!5e0!3m2!1sen!2sae!4v1556801311220!5m2!1sen!2sae" frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen></iframe>
                           
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-5 info">
                                <i class="ion-ios-location-outline"></i>
                                <p>Manzini Opposite William Pitcher. Address is P. O. Box 1575 Manzini</p>
                            </div>
                            <div class="col-md-4 info">
                                <i class="ion-ios-email-outline"></i>
                                <p>info@snat.co.sz</p>
                            </div>
                            <div class="col-md-3 info">
                                <i class="ion-ios-telephone-outline"></i>
                                <p>Tel: +268 505 2603</p>
                            </div>
                            <div class="col-md-3 info">
                                <i class="ion-ios-telephone-outline"></i>
                                <p>Fax: +268 505 7884</p>
                            </div>
                            <div class="col-md-3 info">
                                <i class="ion-ios-telephone-outline"></i>
                                <p>Sms: +268 7602 1139</p>
                            </div>
                        </div>

                        <div class="form">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #contact -->

    </main>
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-info">
                        <h3>SNAT</h3>
                        <p>The Swaziland Nation Association of Teachers shall strive to improve the professional, socio-economic status of teachers, enhance collective bargaining for teachers and encourage maximum participation and dynamic provosion of quality education to the learner.</p>
                    </div>

                    @*<div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>*@

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright @DateTime.Now.Year <strong>Swaziland National Teachers Association</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
                -->
                Designed by <a href="#">A&amp;A Technology</a>
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/mobile-nav/mobile-nav.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    @*<script src="contactform/contactform.js"></script>*@

    <!-- Template Main Javascript File -->
    <script src="~/Scripts/main.js"></script>

</body>
</html>
